body{
    background-color: whitesmoke;
    font-family: sans-serif;

}
[class ^="col"]{
   color: #34495e;
}
input{
    outline: none;
    border-radius: 5px;
    border-width: 1px;
}
input::placeholder{
    color: #aaaaaac7;
}
h1{
    background-color: #ecf0f1;
    
}